name: vpn_whitexproject_app
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.2.3

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/

  fonts:
    - family: Afacad
      fonts:
        - asset: assets/fonts/Afacad-Regular.ttf
        - asset: assets/fonts/Afacad-Medium.ttf
          weight: 500
        - asset: assets/fonts/Afacad-Italic.ttf
          style: italic
        - asset: assets/fonts/Afacad-Bold.ttf
          weight: 700
